/** TYPOGRAPHY **/
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html {
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  text-align: center;
}
/**** NAV ****/
nav {
  width: 100%;
  background-color: #171a1d;
  height: 70px;
  display: flex;
}

.desktop-nav ul {
  display: flex;
  height: 100%;
  margin-top: 0;
}

.desktop-nav ul li a,
#logo{
  display: block;
  max-height: 60px;
}

.hamburger {
  align-self: center;
}

  /** BANNER **/ 

.banner {
  background-image: url("../media/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner div {
  background-color: rgba(0,0,0,0.97);
  align-items: center;
 }

 /** TEA SECTION **/
 .tea-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

 figure {
  width: 100%;
 }
 figcaption {
  text-align: center;
  padding: 0.5rem;
 }

 /**LOCATION SECTION **/
 #locations-section li {
  background-color: black;
  text-align: center;
  padding: 1rem;
 }

 /** FOOTER **/ 
 footer {
  background-color: #171a1d;
  height: 20vh;
  padding: 0.1rem;
 }
 footer h1 {
  margin-bottom: 0.5rem;
 }

 footer p {
  margin-top: 0;
 }

/** LINKS **/
a {
  text-decoration: none;
  color: black;
}
 
/** Toggle Styles **/ 
.display {
    display: none;
}

.is-active{
  left: 0;
}

@media screen and (min-width: 769px) {

}

@media screen and (min-width: 480px) {
  /**NAV **/
  .desktop {
    display: none;
  }

  .hamburger {
  background-color: transparent;
  border: none;
  height: 40px;
  margin: 0 0.3rem 0 auto;
  }

  .hamburger::before,
  .hamburger::after {
  display: block;
  content: "";
  }

  .bar,
  .hamburger::before,
  .hamburger::after {
  background-color: white;
  height: 4px;
  width: 35px;
  margin-top: 5px;
  }

  .mobile-nav {
  background-color: #171a1d;
  height: calc(100vh - 70px);
  width: 100vw;
  }
  .mobile-nav ul {
  margin: 0 auto;
  text-align: center;
  width: 65%;
  padding: 4rem;
  }

  .mobile-nav li {
  background-color: rgba(53, 53, 53, 0.4);
  padding: 10px 0;
  margin: 10px;
  }

  .mobile-nav li:first-child {
    margin-top: 0;
  }

  .mobile-nav li a {
    color: white;
  }
  /** BANNER **/
  .banner {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .banner div * {
    margin: 0.8rem;
  }

  /** TEA SECTION **/
  .tea-gallery{
  flex-direction: column;
  width: 100vw;
  }

  figure {
  box-sizing: border-box;
  margin: 0.4rem 0;
  }

  figure img {
    width: 100vw;
  }

  figcaption {
    padding-top: 0.4rem;
  }

  .location {
    background-color: rgba(189, 184, 179, 0.815);
  }
}