/**** NAV ****/
nav {
  background-color: black;
  height: 69px;
}

nav ul li {
  list-style-type: none;
}

.logo {
  display: block;
  height: 50px;
  max-width: 300px;
}


@media screen and (max-width: 480px) {

}