/** FONT **/
html {
  font-family:Arial, Helvetica, sans-serif;
  color: white;
}

/**** NAV ****/
nav {
  background-color: black;
  height: 69px;
  display: flex;
}
  
  nav ul li {
    list-style-type: none;
  }

  nav .logo {
    height: 50px;
    max-width: 300px;
    display: block;
  } 

  .hamburger {
    display: hidden;
  }


  /** BANNER **/ 

.banner {
  background-image: url("media/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner div {
  background-color: rgba(0,0,0,0.97);
  align-items: center;
 }

 .banner div * {
  text-align: center;
 }
/** LINKS **/
a {
  text-decoration: none;
  color: black;
}
 
/** Toggle Styles **/ 
.display {
    display: none;
}

.is-active{
  left: 0;
}

@media screen and (max-width: 480px) {
  /**NAV **/

  .desktop-nav ul {
    display: none;
  }

 .hamburger {
  display:unset;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border: none;
  height: 40px;
 }

 .hamburger::before,
 .hamburger::after {
  display: block;
  content: "";
 }

 .bar,
 .hamburger::before,
 .hamburger::after {
  background-color: white;
  height: 4px;
  width: 35px;
  margin-top: 5px;
 }

 .mobile-nav {
  background-color: black;
  padding: 2rem;
  height: 100vh;
  top: 10%;
 }
 .mobile-nav ul {
  margin: 0 auto;
  text-align: center;
  padding-left: 0;
  width: 65%;
 }

 .mobile-nav li {
  background-color: aliceblue;
  padding: 10px 0;
  margin: 10px;
 }
 /** BANNER **/
 .banner {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }

 .banner div * {
    margin: 0.8rem;
 }
}