/** TYPOGRAPHY **/
html {
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

p {
  text-align: center;
}
/**** NAV ****/
nav {
  height: 69px;
  display: flex;
  background-color: #171a1d;
}

  nav .logo {
    height: 50px;
    max-width: 300px;
    display: block;
  } 

  .hamburger {
    display: hidden;
  }

  /** BANNER **/ 

.banner {
  background-image: url("media/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner div {
  background-color: rgba(0,0,0,0.97);
  align-items: center;
 }

 /** TEA SECTION **/
 .tea-gallery {
  display: flex;
 }

 figcaption {
  text-align: center;
  padding: 0.5rem;
 }

 /**LOCATION SECTION **/
 #locations-section li {
  background-color: black;
  text-align: center;
  padding: 1rem;
 }

 /** FOOTER **/ 
 footer {
  background-color: #171a1d;
  height: 20vh;
  padding: 0.1rem;
 }
 footer h1 {
  margin-bottom: 0.5rem;
 }

 footer p {
  margin-top: 0;
 }

/** LINKS **/
a {
  text-decoration: none;
  color: black;
}
 
/** Toggle Styles **/ 
.display {
    display: none;
}

.is-active{
  left: 0;
}

@media screen and (max-width: 480px) {
  /**NAV **/
  .desktop-nav ul {
    display: none;
  }

  .hamburger {
  display:unset;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border: none;
  height: 40px;
  }

  .hamburger::before,
  .hamburger::after {
  display: block;
  content: "";
  }

  .bar,
  .hamburger::before,
  .hamburger::after {
  background-color: white;
  height: 4px;
  width: 35px;
  margin-top: 5px;
  }

  .hamburger {
    margin-top: 0;
  }

  .mobile-nav {
  background-color: #171a1d;
  padding: 2.5rem;
  height: 100vh;
  top: 10%;
  }
  .mobile-nav ul {
  margin: 0 auto;
  text-align: center;
  width: 65%;
  }

  .mobile-nav li {
  background-color: rgba(53, 53, 53, 0.4);
  padding: 10px 0;
  margin: 10px;
  }

  .mobile-nav li a {
    color: white;
  }
  /** BANNER **/
  .banner {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .banner div * {
    margin: 0.8rem;
  }

  /** TEA SECTION **/
  .tea-gallery{
  flex-direction: column;
  width: 100vw;
  }

  figure {
  box-sizing: border-box;
  margin: 0.4rem 0;
  }

  figure img {
    width: 100vw;
  }

  figcaption {
    padding-top: 0.4rem;
  }

 

  .location {
    background-color: rgba(189, 184, 179, 0.815);
  }
}